<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Lector_XML.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Lector_XML.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Lector_XML.Settings.ATEBCOFIDIConnectionStringClientes"
            connectionString="Data Source=server-raid7;Initial Catalog=Production;Persist Security Info=True;User ID=User_PRO;Password=User_PRO2023;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Lector_XML.Settings.ProductionConnectionString" connectionString="Data Source=server-raid7;Initial Catalog=Production;Persist Security Info=True;User ID=User_PRO;Password=User_PRO2023;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Lector_XML.Settings.csContpaqFinagil" connectionString="Data Source=CONTPAQ01\CONTABILIDAD;Initial Catalog=ctFINAGILCONEFINAGIL2015;Persist Security Info=True;User ID=finagil;Password=finagil"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <Lector_XML.Settings>
            <setting name="hostExe" serializeAs="String">
                <value>\\server-raid2\FINAGIL_CXP\</value>
            </setting>
            <setting name="hostExeNomina" serializeAs="String">
                <value>\\server-raid1\contratos2$\Executables\</value>
            </setting>
        </Lector_XML.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConsultaCFDIService">
                    <security mode="Transport"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://consultaqr.facturaelectronica.sat.gob.mx/ConsultaCFDIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsultaCFDIService" contract="ServiceReference1.IConsultaCFDIService" name="BasicHttpBinding_IConsultaCFDIService"/>
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Lector_XML.Settings>
            <setting name="Lector_XML_mx_gob_sat_facturaelectronica_consultaqr_ConsultaCFDIService"
                serializeAs="String">
                <value>https://consultaqr.facturaelectronica.sat.gob.mx/ConsultaCFDIService.svc</value>
            </setting>
        </Lector_XML.Settings>
    </applicationSettings>
</configuration>
