<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lector_XML.Settings.ATEBCOFIDIConnectionStringClientes" connectionString="Data Source=srv37-cfdi;Initial Catalog=ATEBCOFIDI;Persist Security Info=True;User ID=finagil;Password=finagil" providerName="System.Data.SqlClient"/>
        <add name="Lector_XML.Settings.ProductionConnectionString" connectionString="Data Source=server-raid2;Initial Catalog=Production;Persist Security Info=True;User ID=User_PRO;Password=User_PRO2015" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConsultaCFDIService">
                    <security mode="Transport"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://consultaqr.facturaelectronica.sat.gob.mx/ConsultaCFDIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsultaCFDIService" contract="WS_Consulta_SAT.IConsultaCFDIService" name="BasicHttpBinding_IConsultaCFDIService"/>
        </client>
    </system.serviceModel>
</configuration>
